.lable {
  position: relative;
}

.input {
  padding: 0 10px;
  width: 163px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
}

.input:focus {
  border: 2px solid var(--color-links);
}

.input:focus::placeholder {
  color: transparent;
}

.lable:hover .list {
  display: block;
}

.list {
  display: none;
  position: absolute;
  top: 44px;
  left: 55px;
  width: 390px;
  background: rgba(97, 97, 97, 0.9);
  border-radius: 4px;
  color: #FFFFFF;
  padding: 4px 8px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  z-index: 10;
}
