.background {
  width: 100%;
  background: var(--color-overlay);
  border-radius: 30px 30px 0px 0px;
}

.container {
  width: 1216px;
  margin: auto;
  position: relative;
}

.heading {
  font-weight: 500;
  font-size: 50px;
  line-height: 130%;
  padding-top: 40px;
}

.target_platform {
  margin-top: 30px;
  width: 391px;
  height: 36px;
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
}

.target_platform_item {
  display: flex;
  padding: 6px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: #b3e5fc;
  color: var(--color-links);
  font-size: 16px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.report_filtering {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.left_side {
  display: inline-flex;
  justify-content: flex-start;
  gap: 20px;
  height: 40px;
  width: 100%;
}

.right_side {
  display: inline-flex;
  justify-content: flex-end;
  gap: 20px;
  height: 40px;
  width: 100%;
}

.groupping_item {
  padding: 8px 0;
font-size: 16px;
font-family: Roboto;
line-height: 24px;
letter-spacing: 0.15px;
}

.groupping_item_name {
  color: var(--color-main);
}

.groupping_item_value {
  color: #7A7B83;
}

.report_history {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}

.report_history_date {
  display: flex;
  align-items: center;
  width: 352px;
  height: 40px;
}

.calendar {
  background-color: transparent;
  border: none !important;
  z-index: 2;
}

.date_pickers {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.space {
  margin: 0px 11px;
}

.table_container {
  position: relative;
  margin-top: 20px;
  padding-top: 26px;
  width: 1216px;
  border-collapse: collapse;
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  height: 352px;
  z-index: 1;
  overflow: scroll;
}

.table_container_background {
  position: relative;
  top: 0;
  width: 1216px;
  height: 26px;
  background: red;
}

.table {
  text-align: start;
  border-spacing: 0;
}

.table_head {
  color: var(--color-main);
  text-align: left;
  height: 36px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.23);
}

.table_head tr th,
.table_body tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.23);
  position: relative;
  background-color: #ffffff;
}

.table_head tr:hover th {
  border-right: 1px solid rgba(0, 0, 0, 0.23);
}

.table_head tr:hover th:last-child {
  border-right: none;
}

.table_first_column,
.table_second_column,
.table_third_column,
.table_fourth_column {
  padding-left: 16px;
  height: 36px;
}

.table_first_column {
  width: 392px;
}

.table_second_column {
  width: 309px;
}

.table_third_column {
  width: 309px;
}

.table_fourth_column {
  width: 206px;
}

.table_body {
  color: var(--color-main);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.row_with_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon_container,
.icon_container_download {
  width: 34px;
  height: 36px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.update_icon {
  background-image: url(../../images/icon_update.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
}

.checked_icon {
  background-image: url(../../images/icon_checked.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 17.5px;
  height: 13.4px;
}

.info_icon {
  background-image: url(../../images/icon_info.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.download_icon {
  background-image: url(../../images/icon_download.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 18px;
  fill: rgba(0, 0, 0, 0.54);
  transition: all 0.3s ease;
}

.icon_container_download:hover .download_icon {
  fill: #2196f3;
}

.icon_container_download:hover {
  cursor: pointer;
}

.icon_vert_dots_container {
  width: 20px;
  height: 20px;
}

.icon_vert_dots {
  fill: rgba(0, 0, 0, 0.54);
  transition: all 0.3s ease;
}

.icon_vert_dots_container:hover .icon_vert_dots {
  fill: #2196f3;
}

.sorting_icon_container {
  position: absolute;
  right: 16px;
  width: 20px;
  height: 20px;
  top: 10px;
}

.modals {
  position: absolute;
  top: 355px;
  width: 1216px;
  height: 27px;
  background-color: #ffffff;
  z-index: 3;
  border-radius: 10px 10px 0px 0px;
}
