.user_info {
  margin-bottom: 30px;
}

.user_info_first_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  font-style: normal;
}

.phone {
  margin-left: 20px;
}

.client_credentials {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
  width: max-content;
}

.report_history {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 10px;
}

.report_history_date {
  display: flex;
  align-items: center;
  width: 352px;
  height: 40px;
  padding: 8px 0px;
  margin-bottom: 16px;
}

.calendar {
  background-color: transparent;
  border: none !important;
  z-index: 2;
}

.date_pickers {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.space {
  margin: 0px 11px;
}

.table_container {
  width: 1216px;
  height: 352px;
  overflow: scroll;
  padding-top: 26px;
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  border-collapse: collapse;
}
