.overlay {
  max-width: 1216px;
  height: calc(100vh - 38px - 80px);
  margin: 0 auto;
  padding-top: 38px;
  background: rgba(240, 241, 250, 0.9);
  border-radius: 30px 30px 0px 0px;
  display: flex;
  justify-content: center;
}

.container {
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 50px;
  max-width: 392px;
  height: max-content;
  margin-top: 108px;
}

.title {
  font-size: 20px;
  line-height: 130%;
  margin: 0 0 29px;
}

.links {
  width: 100%;
  max-width: 292px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #7A7B83;
}

.link:hover{
  text-decoration-line: underline;
}

.link_active {
  color: #2196F3;
}

.content {
  width: 100%;
  max-width: 292px;
  display: flex;
  margin: 15px 0 0;
}

.subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #7A7B83;
  margin: 0;
}
.label {
  width: 24px;
  height: 24px;
  margin: 0 14px;
}

.input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.visible_checkbox {
  display: block;
  width: 18px;
  height: 18px;
  border: 3px solid rgba(0, 0, 0, 0.54);
  box-sizing: border-box;
}
.input[type="checkbox"]:checked + .visible_checkbox {
  background: url('../../images/icon_checkbox.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


