.subtitle {
  font-size: 20px;
  line-height: 130%;
  color: var(--color-main);
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

.group_button {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 20px;
  align-self: flex-end;
}

.group_fillter {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 20px;
}
