@font-face {
  font-family: 'Roboto Condensed';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url(./vendor/fonts/RobotoCondensed-Regular.ttf) format("truetype");
}

body {
  margin: 0 auto;
  max-width: 1920px;
  font-family: 'Roboto Condensed', sans-serif, -apple-system, BlinkMacSystemFont;
  font-style:  normal;
  font-weight: 400;
  color: #444444;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

