body {
  max-width: 1920px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
  margin: 0 auto;
}
