.content {
  display: flex;
  align-items: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  line-height: 130%;
  font-family: var(--font-Additional);
  margin-bottom: 19px;
}

.group_data {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 10px;
}

.span {
  display: flex;
  align-items: center;
  gap: 5px;
  width: max-content;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 8px 14px;
}
